services:
  grpc:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["grpc"]
    ports:
      - "8080:8080"
    networks:
      - benchnet

  rest:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["rest"]
    ports:
      - "9090:9090"
    networks:
      - benchnet

  loadgen:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["loadgen"]
    environment:
      GRPC_ENDPOINT: "http://grpc:8080"
      REST_ENDPOINT: "http://rest:9090"
    depends_on:
      - grpc
      - rest
    networks:
      - benchnet

networks:
  benchnet:
    driver: bridge
